@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
}

body {
    /*background-color: #0C0C0C;*/
    background-image: url(../img/paper-bg.png);
    background-attachment: fixed;
    font-family: 'Rubik', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    flex: 1;
    padding: 10px;
    color: #c4c05f;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #F5F5F5;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.about {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.about p{
    margin-bottom: 1.5rem;
}

.about a {
    font-size: 20px;
    color:#c4c05f;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}

#intro img{
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    color: #F5F5F5;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #F5F5F5;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

#events button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F5F5F5;
    color: #0C0C0C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid-container{
    max-width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "main-content";
    grid-template-rows: auto auto;
    grid-gap: 20px;
}

main {
    grid-area: main-content;
}

.main-img {
        width: 100%;
        height: auto;
}

.youtube-link {
        width: 100%;
        height: 350px;
}

.contact{
    color: #c4c05f;
    padding: 20px;
}

.contact input {
    margin-bottom: 10px;
}

.contact label {
    
}

footer {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

footer a {
    color: #c4c05f;
}

.previous_events {
    display: grid;
    max-width: 90%;
    margin: 40px auto;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.event {
    
}

.event-date {
    font-style: italic;
}

.wishlist_artists {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 0 auto;
    gap: 15px;
}

.wished_artist {
    font-size: px;
    text-align: center;
    background-color: #c4c05f;
    color: #0C0C0C;
    padding: 15px 20px;
    border-radius: 12px;   
}

@media screen and (min-width: 1024px) {
    nav {
        flex-direction: row;
    }

    nav a {
        flex: 1;
    }

    h1 {
        font-size: 50px;
    }

    #intro p{
        font-size: 20px;

    }
    

    .grid-container{
        grid-template-columns: 1fr 1fr;
    }

    #intro img {
        max-width: 25%;
    }

}
